<section>
  <form class="form__container" [formGroup]="newsForm" (ngSubmit)="sendNews()">
    <div>
      <label for="title">Título</label>
      <input
        class="title__news"
        [class.invalid]="checkControl('title')"
        [class.valid]="checkValid('title')"
        type="text"
        id="title"
        formControlName="title"
      />
      @if (checkCurrentError("title", "required")) {
      <p class="error">El campo es requerido.</p>
      }@if (checkCurrentError("title", "minlength")) {
      <p class="error">El título debe tener tres carácteres como mínimo.</p>
      } @if (checkCurrentError("title", "maxlength")) {
      <p class="error">El título excede el máximo de carácteres.</p>
      }
    </div>
    <div>
      <label for="image">URL de la imagen</label>
      <input
        class="image__news"
        [class.invalid]="checkControl('image')"
        [class.valid]="checkValid('image')"
        type="text"
        id="image"
        formControlName="image"
      />
      @if (checkCurrentError("image", "required")) {
      <p class="error">El campo es requerido.</p>
      }@if (checkCurrentError("image", "pattern")) {
      <p class="error">Debe ser una URL válida.</p>
      }
    </div>
    <div>
      <label for="text">Contenido</label>
      <textarea
        rows="10"
        class="text__news"
        [class.invalid]="checkControl('text')"
        [class.valid]="checkValid('text')"
        id="text"
        formControlName="text"
      ></textarea>
      @if (checkCurrentError("text", "required")) {
      <p class="error">El campo es requerido.</p>
      }@if (checkCurrentError("text", "minlength")) {
      <p class="error">El texto de la noticia es muy corto.</p>
      }
    </div>
    <div>
      <label for="date">Fecha</label>
      <input
        class="date__news"
        [class.invalid]="checkControl('date')"
        [class.valid]="checkValid('date')"
        type="date"
        id="date"
        formControlName="date"
      />
    </div>
    <input
      class="submit"
      type="submit"
      value="Publicar"
      [disabled]="!newsForm.valid"
    />
  </form>
</section>
