/* You can add global styles to this file, and also import other style files */

:root {
  --size-font: calc(1vw + 1vh);
}

html {
  font-size: var(--size-font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0.5rem auto;
  padding: 1.8rem;
  width: 100%;
  max-width: 1440px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form,
.list {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row;
    align-items: flex-start;
  }
}
