/* You can add global styles to this file, and also import other style files */

:root {
  --size-font: calc(1vw + 1vh + 10px);
}

html {
  font-size: var(--size-font);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 40%;
  height: auto;
  display: block;
}

.flex {
  display: flex;
  width: 100%;
  gap: 30px;
  margin-top: 2rem;
  padding: 1.8rem;
}

.form {
  width: 35%;
}

.list {
  width: 65%;
}
